Repository mrangta/TaskManagerApp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend_docker_build_release, buildAndroid

backend_docker_build_release:
  stage: releaseDocker
  image: docker:19.03.1
  services:
  - docker:dind
  variables:
    DOCKER_DRIVER: overlay
  before_script:
  - cd backend
  - apk update && apk upgrade && apk add --update alpine-sdk && apk add --no-cache make
  - echo $GCLOUD_SERVICE_ACCOUNT | base64 -d > ${HOME}/gcloud-service-key.json
  ...

buildAndroid:
  image: javiersantos/android-ci:28.0.3
  stage: buildAndroid
  before_script:
  - cd frontend
  - export GRADLE_USER_HOME=`pwd`/.gradle
  - chmod +x ./gradlew
  script:
  - ./gradlew assembleDebug
  artifacts:
    paths:
    - app/build/outputs/apk/

Editing tasks nearly done (null pointer when viewing task from mytasks
  frontend/app/src/main/java/com/mcc/g22/CreateTaskActivity.kt
  frontend/app/src/main/java/com/mcc/g22/Task.kt
  frontend/app/src/main/res/values/strings.xml
Due: buildAndroid

changed logging event type field from type to eventType
  backend/flaskr/apiV1.py
Due: backend_docker_build_release

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

fixed typo
  backend/flaskr/apiV1.py
Due: backend_docker_build_release

Editing tasks done
  frontend/app/src/main/java/com/mcc/g22/CreateTaskActivity.kt
Due: buildAndroid

Confimation before deleting a projecr
  frontend/app/src/main/java/com/mcc/g22/ProjectListAdapter.kt
  frontend/app/src/main/res/values/strings.xml
Due: buildAndroid

Add onClick functionality to generate report button
  frontend/app/src/main/java/com/mcc/g22/CreateProjectActivity.kt
  frontend/app/src/main/java/com/mcc/g22/CreateTaskActivity.kt
  frontend/app/src/main/java/com/mcc/g22/ProjectFilesActivity.kt
  frontend/app/src/main/java/com/mcc/g22/ProjectPictureActivity.kt
  frontend/app/src/main/java/com/mcc/g22/ProjectTasksActivity.kt
  frontend/app/src/main/res/layout/activity_create_task.xml
  frontend/app/src/main/res/layout/activity_project_files.xml
  frontend/app/src/main/res/layout/activity_project_picture.xml
  frontend/app/src/main/res/layout/activity_project_tasks.xml
Due: buildAndroid

Hiding delete from from non-admins
  frontend/app/src/main/java/com/mcc/g22/Project.kt
  frontend/app/src/main/java/com/mcc/g22/ProjectListAdapter.kt
  frontend/app/src/main/java/com/mcc/g22/User.kt
Due: buildAndroid

Hide assignment users widgets if user is not admin or project is personal
  frontend/app/src/main/java/com/mcc/g22/CreateTaskActivity.kt
Due: buildAndroid

added make file and docker building for frontend
  .gitignore
  frontend/Dockerfile
  frontend/Makefile
  frontend/app/build.gradle
  frontend/packages.txt
Due: buildAndroid

updated gitignore
  .gitignore
Due: none

added firebase extension installation to makefile
  backend/Makefile
  backend/conf/.env.firebase_extension_config
Due: backend_docker_build_release

fixed None errors when deleting project without users or tasks
  backend/flaskr/apiV1.py
Due: backend_docker_build_release

enabled authentication in endpoints
  backend/openapi.yml
Due: backend_docker_build_release

Handling resizing imropoved
  frontend/app/src/main/java/com/mcc/g22/AttachmentsManager.kt
  frontend/app/src/main/java/com/mcc/g22/ProjectPictureActivity.kt
Due: buildAndroid

image is now rebuild on every app build
  frontend/Makefile
Due: buildAndroid

added gradle properties to git
  .gitignore
  frontend/.gitignore
  frontend/gradle.properties
Due: buildAndroid

API client auth
  frontend/app/src/main/java/com/mcc/g22/apiclient/apis/DefaultApi.kt
  frontend/app/src/main/java/com/mcc/g22/apiclient/infrastructure/ApiClient.kt
Due: buildAndroid

Disable adding memebrs to personal projext
  frontend/app/src/main/java/com/mcc/g22/CreateProjectActivity.kt
Due: buildAndroid

Crash fix
  frontend/app/src/main/java/com/mcc/g22/CreateTaskActivity.kt
Due: buildAndroid

Reminder one day before, some fixes
  frontend/app/src/main/java/com/mcc/g22/CreateTaskActivity.kt
  frontend/app/src/main/res/values/strings.xml
Due: buildAndroid

final touches
  Makefile
  backend/Makefile
  backend/backend_info.txt
  backend/flaskr/apiV1.py
  frontend/gradle.properties
Due: backend_docker_build_release, buildAndroid

Basic Appium test
  frontend/appium/AppiumTest.java
Due: buildAndroid

Appium updated
  frontend/appium/AppiumTest.java
Due: buildAndroid

add project to github
  frontend/app/local.properties
  frontend/build.gradle
Due: buildAndroid

Update README.md
  README.md
Due: none

Set theme jekyll-theme-cayman
  _config.yml
Due: none

Path conditions:
  backend_docker_build_release: any of: backend/**/*
  buildAndroid: any of: frontend/**/*
